<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AmazonApp">

<listeners>
	<listener class-name="resources.Listener"/>
	<listener class-name="resources.ExtentReporterNG"/>
</listeners>

  <test  name="Setting">
    <classes>
      <class name="setting.CountrySetting" />
    </classes>
  </test> 
</suite>